.DS_Store
out/
*.class

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC5pqrwD6Fla3vg2mZiu+2+gJcchxdp8JKJvRytRbtsB76u90FVGFfJ3k82rFrQ74s1kRszl2bi+gHazNQZiyZq7uQHmqPCSOgetmbQ3GT16LgHbhra4eVhRN/FKV59hhcDKzkIc87KrbH7FL/Qu5KBb7JYF8Oxdlcqqu9SQ1ZlS29PHIPwqYnGdMdqMU0k+8IVZCBswhRpO0rYlg7xwdmqT69iXTm5OGmsjjTilsD0vEtHB3FzmaXIQNBwzsB8Uomh7uIAO50LVXVzwW0bCW2LYL3q0uHvixuR3xr559X7N9z89qozqXEPGN1LvwwEbrbW0MJIw85H8l072dMkeooVHnRca0ep3FZaLJjR9FWmo1Cc5nRJS45HzpPE9BrGS55E9Lm/VfikClNarx9NAozINTZFZFw3H7DJBy8547W6tpncB+VAv313xkWkgxso6CNhKc6x/VqlQP0wBtcm1PezOWsBR6pHfKMVGvF85yfTcar9Io+ETF0QqM2Pck9B7tsDZSb8LWYmBqYkh4pKfPwUVnF1P9RqKzQapO/Q8pdj7wl64S38lJA9zH0nAKhDxqFqAn2hCmfjn7EL5CSAwsTZ/f/gKhJ6v6hxYFtSP8/si03J3rKiPgQGeSAho7DY8nBhkDhObQh0zz3O6WfV0YYbsQzj+UB5N6VkeY4FbziF1Q== eirikab@gmail.com
